<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Chango|VT323|Do+Hyeon" rel="stylesheet">
    <title>Edit</title>
  </head>
  <body>
    <h1>Edit Pokedex Entry</h1>

    <form action="/pokemon/<%= index %>?_method=PUT" method="POST">

      NAME: <input type="text" name="name" value="<%= pokemon.name%>"/><br/>
      TYPE: <input type="text" name="type" value="<%= pokemon.type%>"/><br/>

        <br/>
      <button type="submit">Edit!</button>
    </form>
  </body>
</html>
