<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Chango|VT323|Do+Hyeon" rel="stylesheet">
    <title></title>
  </head>
  <body>
    <h1> Welcome to the Pokedex!</h1>
    <p>The Pokedex is a digital encylopedia created by Professor Oak to assist you on your quest to catch 'em all!<br>
      This is a Generation 1 Pokedex (model HANDY505). Access each Pokemon entry by clicking the Pokemon's image.<br>
      You can also edit a Pokemon, delete a Pokemon and add new Pokemon!<br>
      Good luck!<br>
      <h4 class= "goIndex"> <a href="/pokemon/index">Go to the Pokedex!</a> </h4>
      <div class= "homepage">
        <div class= "info">
        </div>
      </div>

  </body>
</html>
