<!DOCTYPE html>
<html>
<head>
	<title>Pokemon Index</title>
</head>
<body>
	<h1><%=heading%></h1>
	<br>
	<a href="pokemon/new">Add New Pokemon Here...</a>
	<br>
	<ul>
	<!-- Iterate Through the array and get the names of pokemon -->
	<%for(let i = 0, len = thePokemon.length; i < len; i ++){%>
		<li><a href=""><%= thePokemon[i].name %></a></li>

		<form action='/pokemon/<%=i%>?_method=DELETE' method='POST'><input type="submit" name="delete" value='delete'></form>

	<%}%>	
	</ul>	
</body>
</html>