<!DOCTYPE html>
<html>
<head>
	<title>Pokemon Create Page</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

	<form action="/pokemon" method="POST">
		Name: <input type="text" name="name" /> <br/>
		Type: <input type="text" name="type" /> <br/>
		Type: <input type="text" name="type" /> <br/>
		HP: <input type="text" name="hp" /> <br/>
		Attack: <input type="text" name="attack" /> <br/>
		Defense: <input type="text" name="defense" /> <br/>
		<input type="submit" name="" value="Create Pokemon!" />
	</form>


</body>
</html>